.main-header__left-box__member-list__lists
  =link_to users_path do
    =icon("far", "user")



    .main-header__left-box__member-list__lists__member
      ="2"
      -# - @group.users.each do |user|
      -#   =user.name