.message
  .message__checkbox
    %label
      %input.checkbox-input{:name => "checkbox[]", :type => "checkbox"}/
      %span.checkbox-parts 
    %br/
  .message__upper-info
    .message__upper-info__talker
      ="太郎"
    .message__upper-info__date
      ="2020年07月14日　01時50分"
  .message__text
    %p.message__text__content
      ="よろしく"